EMAIL=ashwanthkrishnan_23aia12@kgkite.ac.in
NAME=Ashwanthkrishnan.H.R
ROLL_NO=23aia12
ACCESS_CODE=WjNyCT
CLIENT_ID=c334bd83-6e1c-4af5-b8cb-cb3d618a7a2d
CLIENT_SECRET=zAHWKsVNgUyKmbgh
ACCESS_TOKEN=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJNYXBDbGFpbXMiOnsiYXVkIjoiaHR0cDovLzIwLjI0NC41Ni4xNDQvZXZhbHVhdGlvbi1zZXJ2aWNlIiwiZW1haWwiOiJhc2h3YW50aGtyaXNobmFuXzIzYWlhMTJAa2draXRlLmFjLmluIiwiZXhwIjoxNzgyODAxMDYyLCJpYXQiOjE3ODI4MDAxNjIsImlzcyI6IkFmZm9yZCBNZWRpY2FsIFRlY2hub2xvZ2llcyBQcml2YXRlIExpbWl0ZWQiLCJqdGkiOiJkY2ZlNjEyNC0zZjU4LTRhZjMtYTc1Ni1kZWQ3Y2U4YTdkYTUiLCJsb2NhbGUiOiJlbi1JTiIsIm5hbWUiOiJhc2h3YW50aGtyaXNobmFuLmguciIsInN1YiI6ImMzMzRiZDgzLTZlMWMtNGFmNS1iOGNiLWNiM2Q2MThhN2EyZCJ9LCJlbWFpbCI6ImFzaHdhbnRoa3Jpc2huYW5fMjNhaWExMkBrZ2tpdGUuYWMuaW4iLCJuYW1lIjoiYXNod2FudGhrcmlzaG5hbi5oLnIiLCJyb2xsTm8iOiIyM2FpYTEyIiwiYWNjZXNzQ29kZSI6IldqTnlDVCIsImNsaWVudElEIjoiYzMzNGJkODMtNmUxYy00YWY1LWI4Y2ItY2IzZDYxOGE3YTJkIiwiY2xpZW50U2VjcmV0IjoiekFIV0tzVk5nVXlLbWJnaCJ9.jy6lyhL9E1-pYOj72xk3Ce6g9Fleen4KDWKfKSVPVhE
BASE_URL=http://4.224.186.213/evaluation-service
PORT=5000
MOBILE_NO=8877223311
GITHUB_USERNAME=ASHWANTH-KRISHNAN